spring:
  application:
    name: NarzedziUZ
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/narzedziuz}
    username: ${SPRING_DATASOURCE_USERNAME:narzedziuz_user}
    password: ${SPRING_DATASOURCE_PASSWORD:secure_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  sql:
    init:
      mode: never
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

server:
  port: 8080

logging:
  level:
    org.store.narzedziuz: DEBUG
    org.hibernate.SQL: DEBUG

captcha:
  url: http://localhost:8000/d2acb75376
  site-key: d2acb75376
  secret: Je7SdIws&sou8IlwwEHbna&MSiH!4UkLnqK*9PXSj^FHcGLsODIPwqAZRYuzg!FzXflzGCxWP1lR8o5OjWtO4xdVH%vyi5HHoClKXE%N9o^qMejyLed62LvTBin%n2^H&Y$bH5A3*NX1Tdai@SjiiK2

