
.navbar {
    position: fixed;
    background-color: #007bff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    line-height: 1.4;
}

.navbar a {
    display: inline-block;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.search-bar select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar .search-button, .filter-button{
    padding: 8px 15px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar .search-button:hover, .filter-button:hover {
    background-color: #003f8a;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

.navbar-button {
    padding: 8px 15px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.navbar-button:hover {
    background-color: #003f8a;
}

.navbar {
    position: relative !important;
}


