<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/home_page.css}">
    <title>NarzedziUZ</title>
</head>
<body>

<div class="navbar">
    <div class="logo">
        <a href="/">NarzedziUZ</a>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search for products...">
        <select>
            <option value="">Filter</option>
            <option value="filter1">By price (descending)</option>
            <option value="filter2">By price (ascending)</option>
            <option value="filter3">By rating (descending)</option>
            <option value="filter4">By rating (ascending)</option>
        </select>

        <select>
            <option value="">All Categories</option>
            <option value="category1">Category1</option>
            <option value="category2">Category2</option>
            <option value="category3">Category3</option>
        </select>
        <button class="search-button">Search</button>
    </div>

    <div class="navbar-buttons">
        <a href="/cart" class="navbar-button">Cart</a>
        <a th:if="${isLoggedIn}" th:href="@{/user/profile}" class="navbar-button" th:text="${userName}">User</a>
        <a th:if="${!isLoggedIn}" th:href="@{/login}" class="navbar-button">Log in</a>
    </div>
</div>

<div class="home-container">
    <h1>NarzedziUZ</h1>
    <p>Tutaj będą produkty potem</p>

    <div th:if="${isLoggedIn}">
        <p th:text="'Welcome, ' + ${userName} + '!'"></p>
    </div>
</div>
</body>
</html>