<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/navbar.css}">
    <link rel="stylesheet" th:href="@{/login_style.css}">
    <title>Login</title>
</head>
<body>

<div class="navbar">
    <div class="logo">
        <a href="/">NarzedziUZ</a>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search for products...">
        <select>
            <option value="">Filter</option>
            <option value="filter1">By price (descending)</option>
            <option value="filter2">By price (ascending)</option>
            <option value="filter3">By rating (descending)</option>
            <option value="filter4">By rating (ascending)</option>
        </select>

        <select>
            <option value="">All Categories</option>
            <option value="category1">Category1</option>
            <option value="category2">Category2</option>
            <option value="category3">Category3</option>
        </select>
        <button class="search-button">Search</button>
    </div>

    <div class="navbar-buttons">
        <a href="/cart" class="navbar-button">Cart</a>
        <a href="/login" class="navbar-button">Log in</a>
    </div>
</div>

<div class="content">
<div class="login">
    <h1>Login</h1>
    <form method="post" action="/login">
        <input type="email" name="email" placeholder="E-mail" required>

        <input type="password" name="password" placeholder="Password" required>

        <button type="submit" onclick="window.location.href='/'">Login</button>
    </form>

    <a href="/register">Create a new account</a>
</div>
</div>
</body>
</html>
